name: Lint
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build: 
    name: py${{ matrix.python-version }} @ ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.7"
            os: "ubuntu-20.04"
          - python-version: "3.7"
            os: "ubuntu-22.04"
          - python-version: "3.8"
            os: "ubuntu-20.04"
          - python-version: "3.8"
            os: "ubuntu-22.04"
          - python-version: "3.9"
            os: "ubuntu-22.04"
          - python-version: "3.10"
            os: "ubuntu-22.04"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Europe/Berlin"
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip
        run: |
          pip install --upgrade pip
          pip install setuptools_rust  
      - name: Install dependencies
        run: pip install .
      - uses: ricardochaves/python-lint@v1.4.0
        with:
          python-root-list: "src/ test/ setup.py"
          use-pylint: false
          use-pycodestyle: true
          use-flake8: true
          use-black: false
          use-mypy: true
          use-isort: true
          extra-pylint-options: ""
          extra-pycodestyle-options: ""
          extra-flake8-options: ""
          extra-black-options: ""
          extra-mypy-options: "--ignore-missing-imports"
          extra-isort-options: ""
