name: Pytest
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    name: py${{ matrix.python-version }} @ ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.7"
            os: "ubuntu-20.04"
          - python-version: "3.7"
            os: "ubuntu-22.04"
          - python-version: "3.8"
            os: "ubuntu-20.04"
          - python-version: "3.8"
            os: "ubuntu-22.04"
          - python-version: "3.9"
            os: "ubuntu-22.04"
          - python-version: "3.10"
            os: "ubuntu-22.04"
    runs-on: ${{ matrix.os }}

    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Europe/Berlin"
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Update pip
        run: |
          pip install --upgrade pip
          pip install setuptools_rust
      - name: Install pytest
        run: pip install pytest pytest-md pytest-emoji pytest-cov
      - name: Install package
        run: pip install .
      - uses: pavelzw/pytest-action@v2
        with:
          custom-arguments: "--cov=src/ros_license_linter --cov-report=xml"
          emoji: true
          verbose: true
          job-summary: true
      # - uses: orgoro/coverage@v3
      #   with:
      #     coverageFile: "coverage.xml"
      #     token: ${{ secrets.GITHUB_TOKEN }}
      - uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-xml-coverage-path: "coverage.xml"
