name: Release
on:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"
jobs:
    test:
        name: py${{ matrix.python-version }} @ ${{ matrix.os }}
        strategy:
          fail-fast: true
          matrix:
            include:
              # versions updated according to
              # https://devguide.python.org/versions/
              # on 2025-01-15
              - python-version: "3.9"
                os: "ubuntu-22.04"
              - python-version: "3.10"
                os: "ubuntu-22.04"
              - python-version: "3.11"
                os: "ubuntu-22.04"
              - python-version: "3.12"
                os: "ubuntu-22.04"
              - python-version: "3.13"
                os: "ubuntu-22.04"
        runs-on: ${{ matrix.os }}
        concurrency:
          group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.python-version }}
          cancel-in-progress: true

        steps:
            - uses: szenius/set-timezone@v1.0
              with:
                timezoneLinux: "Europe/Berlin"
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                python-version: ${{ matrix.python-version }}
            - name: Update pip
              run: |
                pip install --upgrade pip
                pip install pytest pytest-md pytest-emoji
            - name: Install package
              run: pip install .
            - uses: pavelzw/pytest-action@v2
              with:
                emoji: true
                verbose: true
                job-summary: true

    release:
        name: Release
        runs-on: ubuntu-latest
        needs: test
        steps:
            - uses: szenius/set-timezone@v1.0
              with:
                timezoneLinux: "Europe/Berlin"
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                python-version: "3.11"
            - name: Update pip
              run: |
                pip install --upgrade pip
                pip install build
            - name: Build
              run: |
                python -m build
            - uses: softprops/action-gh-release@v1
              with:
                files: dist/*
                tag_name: ${{ github.ref_name }}
                name: ${{ github.ref_name }}
            - uses: pypa/gh-action-pypi-publish@v1.8.8
              with:
                user: __token__
                password: ${{ secrets.PYPI_TOKEN }}
                packages-dir: dist
